.t_x-control {
    outline: solid;
    outline-width: 1px;
    outline-color: black;
    background-color: gray;
}
.t_y-control {
    outline: solid;
    outline-width: 1px;
    outline-color: black;
    background-color: gray;
}
.t_z-control {
    outline: solid;
    outline-width: 1px;
    outline-color: black;
    background-color: gray;
}

.Maker-Container {
    display: relative;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.MakerControlFunc-Container{
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
    height: 500px;
}

.MakerControlFunc-Minimized{
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 25px;
}


.MakerCanvas-Container {
    width: 100%;
    height: 100%;
    background-color:bisque;
    
}

.input-container {
    display:flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input[type=number] {
    box-sizing: border-box;
    width: 100px;
    height: 20px;
    margin-left: 10px;
}

.input[type=text] {
    box-sizing: border-box;
    width: 100px;
    height: 20px; 
    margin-left: 10px;
}

.input[type='file'] {
    background-color: #5e5c5c;
    color: white;
    width: 100px;
    overflow: hidden;
    margin-left: 10px;
}

.select {
    color: white;
    margin-left: 10px;
}

.file {
    display: none;
}

.red {
    outline: solid;
    outline-width: 5px;
    outline-color: black;
    background-color: pink; 
}

.canvas {
    background-color: #1D1D1D;
}

.purple {
    outline: solid;
    outline-width: 0px;
    outline-color: #555555;
    background-color: rgb(155, 155, 155); 
}

.green {
    outline: solid;
    outline-width: 0px;
    outline-color: rgb(22, 255, 100);
    background-color: rgb(46, 196, 255); 
}

.tool-header {
    position: relative;
    display: flex;
}

.background {
    outline: solid;
    background-color: #242424; 
}

.header-font {
    color:rgb(240, 255, 250)
}

.control-font {
    color: rgba(187, 187, 187, 0.87)
}

.min {
    position: absolute;
    top: 0;
    right: 0
}

.label {
    margin-left: 3px;
}

.orange {
    outline: solid;
    outline-width: 5px;
    outline-color: orange;
    background-color: rgb(247, 203, 122); 
}

.max {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg)
}



.button {
    color: white;
    margin-left: 5px;
    line-height: 20px;
    text-align: center;
    /*border: 2px solid #f3f3f3; /* Green */
}

.button-func {
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 15px; 
    text-align: center;

    /*border: 2px solid #f3f3f3; /* Green */
}

.low {
    border: 1px solid #4e4e5cc0;
    border-radius: 5px;
    background-color: #5e5b6dd8;
}

.med {
    border: 1px solid #4e4e5cc0;
    border-radius: 5px;
    background-color: #4e4e5cc0; 
}

.high {
    border: 1px solid #2949fc;
    border-radius: 5px;
    background-color: #2949fc
}

.saved-func {
    border-radius: 5px;
    background-color: #000000d8;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    position: relative;
    justify-content: center;
}

.makenew {
    margin-top: 10px;
}

.export-area {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 280px;
}

.info-min{
    z-index: 9999;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.info-max{
    z-index: 9999;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #242424 
}

.info-text{
    margin-left: 5px;
    color: white;
}

.link {
    margin-left: 5px;
    margin-right: 5px;
}